.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #e2f3dc;
  height: 80px;
  border-radius: 45px 45px 0 0;
  border-color: #dee2e6 #dee2e6 #F4F4F4;
}
.bg-dashboard{
  background: #e2f3dc;
}