// Specific CSS for your home-page
body{
  min-height: 100vh;
  background-color: white;
}
.banner-home{
  width: 100%;
  height: 50vh;
  background: url("https://res.cloudinary.com/kyulol/image/upload/v1597791731/pasta-1181189_uf1gji.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container-search-bar{
  height: 50px;
  // border-radius: 10px;
}
.container-search-bar div .input-group-prepend .form-control{
  border-radius: 10px 0 0 10px;
}
.icons-in-search-bar{
  padding: 10px 0;
  cursor: pointer;
}
.container-search-bar div .input-group-append .btn-search-bar{
  height: 38px;
  border-radius: 0 10px 10px 0;
}

.card-home{
  min-height: 710px;
}
.bg-img-card-home.italia{
  background: url("https://res.cloudinary.com/kyulol/image/upload/v1597840686/pizza_e0sxg5.jpg");
}
.bg-img-card-home.asia{
  background: url("https://cdn.pixabay.com/photo/2015/11/19/10/38/food-1050813_960_720.jpg");
}

.italia, .asia{
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card-home-body{
  height: 310px;
}

.tag-category{
  border-radius: 15px;
}