@import "home";

h1 {
  color : #222222;
  text-align: center;
  font-weight: 700;
}

#new {
  background-color: rgba(195, 199, 204, 0.4);
  padding: 20px;
}

#submit-color {
  color : rgba(195, 199, 204, 1.000);
  text-shadow: 2px 2px rgba(64, 78, 84, 1.000);
  background-color: rgba(64, 78, 84, 1.000);
}
