@import "home";

h1 {
  color : #633FB6;
  text-align: center;
  text-shadow: 2px 2px #ff0000;
}

.container {
  background-color: rgba(99, 63, 182, 0.4);
  padding: 20px;
}

.submit-color {
  color : #633FB6;
  text-shadow: 2px 2px #ff0000;
  background-color: rgba(99, 63, 182, 0.5);
}
