.container {
  background-color: e0ece4;
}

.description {
  padding-top: 24px;
  padding-bottom: 24px;
}

.circle {
  border-radius: 20px;
}

// .square {
//   height: 800px;
//   width: 1092px;
//   object-fit: center;
//   overflow: hidden;
//   border: 5px solid red;
//   top: 500px;
//   position: relative;
// }
