    <div class="card-offer col-8 col-sm-5 col-md-3 m-2 m-md-4 border shadow-lg m-0 p-0">
      <%= image_tag("https://res.cloudinary.com/kyulol/image/upload/v1597399204/samples/animals/kitten-playing.gif", crop: :fill, class: "card-offer-img") %>
      <div class="card-offer-body  p-4">
        <h5>Title here</h5>
        <div class="d-flex justify-content-between">
          <p class="card-offer-tag px-2 py-1 bg-dark text-white rounded">Category</p>
          <span>price: 20€</span>
        </div>
        <span>Date 08/08/20</span>
      </div>
    </div>