  <footer class="d-flex flex-column align-items-center fixed-bottom">
    <small class="my-2">&copy; Copyright 2020, Example Corporation</small>
    
    <div class="my-2">
      <i class="fab fa-facebook-square rounded" style="font-size: 35px;"></i>
      <i class="fab fa-twitter-square rounded" style="font-size: 35px;"></i>
    </div>
  </footer>
