  <footer class="w-100 d-flex flex-column align-items-center footer-bottom">
    <small class="my-2">2020 &copy; HungYnB. All rights reserved.</small>
    
    <div class="my-2">
      <i class="fab fa-facebook-square rounded" style="font-size: 35px;"></i>
      <i class="fab fa-twitter-square rounded" style="font-size: 35px;"></i>
    </div>
  </footer>
