<!doctype html>
<html lang="fr">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/c25046e4cc.js" crossorigin="anonymous"></script>
  <title>Hello, world!</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <div>
        <a href="#" data-toggle="modal" data-target="#modalConnexion">
          <i class="fal fa-user-circle" style="font-size: 30px;"></i>
        </a>
      </div>
    </div>
  </nav>
  


  







  <!-- [[MODAL]] -->
  
  <div class="modal fade" style="min-height: 60vh;" id="modalConnexion" tabindex="-1" aria-labelledby="modalConnexionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" >
      <div class="modal-content" style="min-height: 65vh;">
        <div class="modal-header">
          <h5 class="modal-title mx-auto" id="modalConnexionLabel">Login or Sign-in for bouffer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Tabs system -->
          <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#login">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#register">Link</a>
            </li>
          </ul>

          <!-- Login form-->
          <div class="tab-content">
            <div id="login" class="container tab-pane active">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>

            </div>
            <div id="register" class="container tab-pane fade"><br>
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputFirstName">First-Name</label>
                    <input type="text" class="form-control" id="inputFirstName">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputLastName">Last-Name</label>
                    <input type="text" class="form-control" id="inputLastName">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="PSG en demi">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                      <option selected>Choose...</option>
                      <option>France</option>
                      <option>M'Bappé</option>
                      <option>USA USA USA USA</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Remember me
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
              </form>
            </div>



        </div>
          
        </div>
      </div>
    </div>
  </div>
  
  <!-- [fin MODAL] -->
  
  
  <!-- [card] -->
  <div class="d-flex px-3">
    <div class="row px-3 px-md-5 justify-content-center justify-content-md-center flex-wrap ">
      
      <div class="col-10 col-sm-5 col-md-3 shadow-sm p-0 my-3 m-sm-2 m-lg-5" style="border-radius: 30px;">
        <img src="https://cdn.pixabay.com/photo/2020/05/13/21/03/dog-food-5168940_960_720.jpg" style="border-radius:30px 30px 0 0;" class="card-img-top" style="height: 14em; object-fit: cover; object-position: top;" alt="...">
        <div class="m-4">
          <h5>Néméria</h5>
          <div class="d-flex justify-content-between">
            <p>ravioli crokeo</p>
            <p>50€</p>
          </div>
          <p>Ravioli crokeotini a la spiacci gambi</p>
        </div>
      </div>
      <div class="col-10 col-sm-5 col-md-3 shadow p-0 my-3 m-sm-2 m-lg-5" style="border-radius: 30px;">
        <img src="https://cdn.pixabay.com/photo/2020/05/13/21/03/dog-food-5168940_960_720.jpg" style="border-radius:30px 30px 0 0;" class="card-img-top" style="height: 14em; object-fit: cover; object-position: top;" alt="...">
        <div class="m-4">
          <h5>Néméria</h5>
          <div class="d-flex justify-content-between">
            <p>ravioli crokeo</p>
            <p>50€</p>
          </div>
          <p>Ravioli crokeotini a la spiacci gambi</p>
        </div>
      </div>
      <div class="col-10 col-sm-5 col-md-3 shadow p-0 my-3 m-sm-2 m-lg-5" style="border-radius: 30px;">
        <img src="https://cdn.pixabay.com/photo/2020/05/13/21/03/dog-food-5168940_960_720.jpg" style="border-radius:30px 30px 0 0;" class="card-img-top" style="height: 14em; object-fit: cover; object-position: top;" alt="...">
        <div class="m-4">
          <h5>Néméria</h5>
          <div class="d-flex justify-content-between">
            <p>ravioli crokeo</p>
            <p>50€</p>
          </div>
          <p>Ravioli crokeotini a la spiacci gambi</p>
        </div>
      </div>
      <div class="col-10 col-sm-5 col-md-3 shadow p-0 my-3 m-sm-2 m-lg-5" style="border-radius: 30px;">
        <img src="https://cdn.pixabay.com/photo/2020/05/13/21/03/dog-food-5168940_960_720.jpg" style="border-radius:30px 30px 0 0;" class="card-img-top" style="height: 14em; object-fit: cover; object-position: top;" alt="...">
        <div class="m-4">
          <h5>Néméria</h5>
          <div class="d-flex justify-content-between">
            <p>ravioli crokeo</p>
            <p>50€</p>
          </div>
          <p>Ravioli crokeotini a la spiacci gambi</p>
        </div>
      </div>
      <div class="col-10 col-sm-5 col-md-3 shadow p-0 my-3 m-sm-2 m-lg-5" style="border-radius: 30px;">
        <img src="https://cdn.pixabay.com/photo/2020/05/13/21/03/dog-food-5168940_960_720.jpg" style="border-radius:30px 30px 0 0;" class="card-img-top" style="height: 14em; object-fit: cover; object-position: top;" alt="...">
        <div class="m-4">
          <h5>Néméria</h5>
          <div class="d-flex justify-content-between">
            <p>ravioli crokeo</p>
            <p>50€</p>
          </div>
          <p>Ravioli crokeotini a la spiacci gambi</p>
        </div>
      </div>
      
      
      
      <!-- <div class="card shadow border-0 col-sm-6 col-lg-4 my-3 mx-md-3 p-0" style="border-radius: 30px;">
        <img src="https://cdn.pixabay.com/photo/2017/02/13/19/23/ravioli-2063535_960_720.jpg" style="border-radius:30px 30px 0 0;" class="card-img-top" style="height: 14em; object-fit: cover; object-position: top;" alt="...">
        <div class="card-body">
          <h5 class="card-title">Helena</h5>
          <div class="d-flex justify-content-between">
            <p>Ravioli Pangolini</p>
            <p>50€</p>
          </div>
          <p class="card-text">Some fucking good Ravioli pangolini</p>
        </div>
      </div> -->
      
    </div>
  </div>
  
  <footer class="d-flex flex-column align-items-center bottom">
    <small class="my-2">&copy; Copyright 2020, Example Corporation</small>
    
    <div class="my-2">
      <i class="fab fa-facebook-square rounded" style="font-size: 35px;"></i>
      <i class="fab fa-twitter-square rounded" style="font-size: 35px;"></i>
    </div>
  </footer>
  
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>


