<h1>Choisissez une proposition de repas</h1>
<br>

<div class="container container-sm-fluid border bg-transparent d-flex flex-column align-items-center">
  <div class="row justify-content-md-around justify-content-center flex-wrap">
    <% @offers.each do |offer| %>
      <%= link_to offer_path(offer), class: "col-10 col-md-5 col-lg-3 m-2 mx-md-0 " do %>
        <%= render  "shared/card-offer", offer: offer %>
      <% end %>
    <% end %>
    </div>
    <div class="mx-auto my-5 bg w-100">
      <% if user_signed_in? %>
        <%= link_to "Add new offer", new_offer_path, class:"btn btn-secondary btn-lg btn-block" %>
      <% end %> 
    </div>    
</div>



