<h1>Choisissez un repas !</h1>
<br>
<div class="d-flex justify-content-center mx-5">
  <div class="row">
    <div class="col-7">
      <div class="row justify-content-md-around justify-content-center flex-wrap">
        <% @offers.each do |offer| %>
            <%= render  "shared/card-offer", offer: offer %>
        <% end %>
      </div>
    </div>
    <div class="col-6 pt-2 d-flex justify-content-center">
      <div id="map"
        style="width: 72vh; height: 72vh; border-radius: 100px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
