<h1>Repas</h1>

<div class="container border bg-transparent d-flex flex-column align-items-center">
  <div class="row justify-content-md-between justify-content-center flex-wrap">
    <% @offers.each do |offer| %>
      <%= link_to offer_path(offer) do %>
        <%= render  "shared/card-offer", offer: offer %>
      <% end %>
    <% end %>
    </div>
    <div class="mx-auto my-5 bg w-100">
      <% if user_signed_in? %>
        <%= link_to "Add new offer", new_offer_path, class:"btn btn-secondary btn-lg btn-block" %>
      <% end %> 
    </div>    
</div>



