body{
  min-height: 100vh;
}

a{
  color: black;

  &:hover{
    text-decoration: none;
    color: black;
  }
}

@media (max-width: 768px) {
  .banner-home div h1{
    background: #0a0a0a26;
    font-size: 1.6em;
  }
}

