.form-login{
  min-height: 50vh;
}
.rounded-form{
  border-radius: 25px
}
#new_offer input,
#new_offer select,
#nex-offer button,
.log-in-form input{
  border-radius: 25px;
  height: calc(1.5em + 0.75rem + 2px);;
}
img.btn-arrow {
  width: 29px;
}

label.myLabel input[type="file"] {
  position:absolute;
  top: -1000px;
}
.myLabel{
  cursor: pointer;
}
.img-input-file{
  width: 60px;
}

.myLabel :invalid + p {
  color: #A44;
}
.myLabel :valid + p {
  color: #4A4;
}

